<!-- <div class="container marketing">
      <br />
      <br />
      <br />
      <!-- Three columns of text below the carousel -->
     <!-- <div class="row">
        <% @new_garments.each do |garment| %>
        <div class="col-lg-4">
          <a href="#" class="garment_photo">
            <span class="garment_detail">
              <p><%= garment.style %></p>
              <p><%= I18n.t('labels.from') %><%= garment.period %><%= I18n.t('labels.period2') %></p>
              <p><i class="fa fa-btc"></i><%=garment.price %></p>
            </span>
            <img src="http://placehold.it/150x150"></a> <br /><br /><br />
        </div><!-- /.col-lg-4 -->
      <!--  <% end %>
      </div><!-- /.row -->