<div class="col-lg-4">
          <% Garment.find(17) do |garment| %>
          <%= image_tag garment.image1.url(:square) %>
          <p><%= garment.style %></p>
          <p><%= I18n.t('labels.from') %><%= garment.period %><%= I18n.t('labels.period2') %></p>
          <p><i class="fa fa-btc"></i><%=garment.price %></p>
        <% end %>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <% Garment.find(18) do |garment| %>
          <%= image_tag garment.image1.url(:square) %>
          <p><%= garment.style %></p>
          <p><%= I18n.t('labels.from') %><%= garment.period %><%= I18n.t('labels.period2') %></p>
          <p><i class="fa fa-btc"></i><%=garment.price %></p></td>
        <% end %>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-lg-4">
          <% Garment.find(19) do |garment| %>
          <%= image_tag garment.image1.url(:square) %>
          <p><%= garment.style %></p>
          <p><%= I18n.t('labels.from') %><%= garment.period %><%= I18n.t('labels.period2') %></p>
          <p><i class="fa fa-btc"></i><%=garment.price %></p>
          <% end %>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <% Garment.find(20) do |garment| %>
          <%= image_tag garment.image1.url(:square) %>
          <p><%= garment.style %></p>
          <p><%= I18n.t('labels.from') %><%= garment.period %><%= I18n.t('labels.period2') %></p>
          <p><i class="fa fa-btc"></i><%=garment.price %></p>
        <% end %>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <% Garment.find(21) do |garment| %>
          <%= image_tag garment.image1.url(:square) %>
          <p><%= garment.style %></p>
          <p><%= I18n.t('labels.from') %><%= garment.period %><%= I18n.t('labels.period2') %></p>
          <p><i class="fa fa-btc"></i><%=garment.price %></p></td>
        <% end %>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-lg-4">
          <% Garment.find(22) do |garment| %>
          <%= image_tag garment.image1.url(:square) %>
          <p><%= garment.style %></p>
          <p><%= I18n.t('labels.from') %><%= garment.period %><%= I18n.t('labels.period2') %></p>
          <p><i class="fa fa-btc"></i><%=garment.price %></p>
          <% end %>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <% Garment.find(23) do |garment| %>
          <%= image_tag garment.image1.url(:square) %>
          <p><%= garment.style %></p>
          <p><%= I18n.t('labels.from') %><%= garment.period %><%= I18n.t('labels.period2') %></p>
          <p><i class="fa fa-btc"></i><%=garment.price %></p>
        <% end %>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <% Garment.find(24) do |garment| %>
          <%= image_tag garment.image1.url(:square) %>
          <p><%= garment.style %></p>
          <p><%= I18n.t('labels.from') %><%= garment.period %><%= I18n.t('labels.period2') %></p>
          <p><i class="fa fa-btc"></i><%=garment.price %></p></td>
        <% end %>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-lg-4">
          <% Garment.find(25) do |garment| %>
          <%= image_tag garment.image1.url(:square) %>
          <p><%= garment.style %></p>
          <p><%= I18n.t('labels.from') %><%= garment.period %><%= I18n.t('labels.period2') %></p>
          <p><i class="fa fa-btc"></i><%=garment.price %></p>
          <% end %>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <% Garment.find(26) do |garment| %>
          <%= image_tag garment.image1.url(:square) %>
          <p><%= garment.style %></p>
          <p><%= I18n.t('labels.from') %><%= garment.period %><%= I18n.t('labels.period2') %></p>
          <p><i class="fa fa-btc"></i><%=garment.price %></p>
        <% end %>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <% Garment.find(27) do |garment| %>
          <%= image_tag garment.image1.url(:square) %>
          <p><%= garment.style %></p>
          <p><%= I18n.t('labels.from') %><%= garment.period %><%= I18n.t('labels.period2') %></p>
          <p><i class="fa fa-btc"></i><%=garment.price %></p></td>
        <% end %>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-lg-4">
          <% Garment.find(16) do |garment| %>
          <%= image_tag garment.image1.url(:square) %>
          <p><%= garment.style %></p>
          <p><%= I18n.t('labels.from') %><%= garment.period %><%= I18n.t('labels.period2') %></p>
          <p><i class="fa fa-btc"></i><%=garment.price %></p>
          <% end %>