<h1>Pixie! Admin Dashboard</h1>

<h3>Users</h3>
<div>No. of users: <%= @number_of_users %></div>
<div>Users details:</div>
<table border="1">
	<tr>
	  <th>User ID</th>
	  <th>User email</th>
	  <th>Last signed in at</th>
	</tr>
	<% @all_users.each do |user| %>
	<tr>
	  <td><%= user.id %></td>
	  <td><%= user.email %></td>
	  <td><%= user.last_sign_in_at %></td>
	</tr>
	<% end %>
</table>

<h3>Messages</h3>
<div>No. of messages: <%= @number_of_messages %></div>
<div>Messages:</div>
<table border="1">
	<tr>
		<th>Topic</th>
		<th>Content</th>
		<th>User Email</th>
		<th> </th>
		<th> </th>
		<th>AJAX</th>
	</tr>
	<% @all_messages.each do |message| %>
	<tr>
		<td><%= message.topic %></td>
		<td><%= message.content %></td>
		<td><%= message.user_email %></td>
		<td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_tag 'Ajax Destroy', class: "btn btn-sm btn-danger btn-delete-message", href: messages_path(message) %></td>
	</tr>
	<% end %>
</table>

<h3>Subscriptions</h3>
<div>No. of subscriptions: <%= @number_of_subscriptions %></div>
<div>Subscriptions:</div>
<table border="1">
	<tr>
		<th>ID</th>
		<th>Email</th>
		<th> </th>
		<th> </th>
	</tr>
	<% @all_subscriptions.each do |subscription| %>
	<tr>
		<td><%= subscription.id %></td>
		<td><%= subscription.email %></td>
		<td><%= link_to 'Show', subscriptions_path %></td>
		<td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
	</tr>
	<% end %>
</table>

<h3>Garments</h3>
<div>No. of garments: <%= @number_of_garments %></div>
<table border="1">
	<tr>
	<th>ID</th>
	<th>Style</th>
	<th>Genre</th>
	<th>Period</th>
	<th>Material</th>
	<th>Available size</th>
	<th>Quantity</th>
	<th>Price</th>
	<th>Description</th>
	<th>Admin ID</th>
	<th> </th>
	<th> </th>
	<th> </th>
	</tr>
	<% @all_garments.each do |garment| %>
	<tr>
	<td><%= garment.id %></td>
	<td><%= garment.style %></td>
	<td><%= garment.genre %></td>
	<td><%= garment.period %></td>
	<td><%= garment.material %></td>
	<td><%= garment.available_size %></td>
	<td><%= garment.quantity %></td>
	<td><%= garment.price %></td>
	<td><%= garment.description %></td>
	<td><%= garment.admin_id %></td>
	<td><%= link_to ' Show ', garment %></td>
    <td><%= link_to ' Edit ', edit_garment_path(garment) %></td>
    <td><%= link_to 'Destroy', garment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>
<br>
<br>
<br>
<br>
<br>
<br>