<!DOCTYPE html>
<html>
<head>
  <title>Pixie!</title>
  <style>
    body{
      text-align: center;
      background: url(http://farm6.staticflickr.com/5478/12007848245_e79238803e_o.jpg);
      background-size: cover;
      background-position: center;
    }
  .introduction {
      color: white;
      font-family: helvetica;
      font-size: 20px;
      margin: auto;
      padding: 20px;
    }
  #footer {
      color: white;
      font-family: helvetica;
      font-size: 20px;
      margin: auto;
      padding: 20px;
    }
  #photo {
    border:5px black solid;
    border-radius: 5px;
    margin:5px;
  }
  </style>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  
</head>
 <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--class="navbar-brand"-->
              <a href="/"><img src="http://farm4.staticflickr.com/3783/12008521164_c8e4523bd9_o.jpg" /></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Collection<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Baby Boy</a></li>
                    <li><a href="#">Baby Girl</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Kiddie Boy</a></li>
                    <li><a href="#">Mini Girl</a></li>
                  </ul>
                <li><%= link_to "About", about_path %></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li><ul class="nav navbar-nav pull-right">
                    <li><%= link_to "Eng Version", root_path(locale: "en") %></li>
                    <li><%= link_to "中文版", root_path(locale: "zh-CN") %></li>
                    </ul>
                </li>
                <li><a href="/"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
  
          </div>
        </div>

      </div>
    </div>


    <div class="container">
      <%= yield %>
    </div>


      <!-- FOOTER -->
      <footer>
        <input style="border: 0;padding: 8px;font-size: 16px;" type="email" placeholder="Pixie fan here!">
        <input style="border: 0;padding: 8px;font-size: 16px;background: red;color: white;" type="submit">
        <br/>
        <br/>
        <p id="footer">&copy; 2014 Pixie Unlimited. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../docs-assets/js/holder.js"></script>
  </body>
</html>

