<!DOCTYPE html>
<html>
<head>
  <title>Pixie!</title>
  <style>
    body{
      text-align: center;
      background: url(http://farm4.staticflickr.com/3781/12026676194_22de652d8e_o.jpg);
      background-size: 100%;
      background-position: center;  
    }
    p {
      color: white;
      font-family: helvetica;
      font-size: 22px;
    }
    #footer {
      color: white;
      font-family: helvetica;
      font-size: 18px;
      margin: auto;
      padding: 20px;
    }
    #contact form {
      font-family: helvetica;
      color: white;
      font-size: 18px;
      border-radius: 5px;
      margin: auto;
    }
    #cart {
      font-size: 18px;
    }
    #subscription_list {
      border: 0;
      border-radius: 3px;
      padding: 8px;
      font-size: 16px;"
    }
    #subscription_button {
      border: 0;
      border-radius: 3px;
      padding: 8px;
      font-size: 16px;
      background: red;
      color: white;
    }
    #social_media {
      font-size: 40px;
    }
    #fb:hover {
      color:#84b7ff;
    }
    #twitter:hover {
      color:#84b7ff;
    }
    #pin:hover {
      color:#84b7ff;
    }
    #gplus:hover {
      color:#84b7ff;
    }
    #tumblr:hover {
      color:#84b7ff;
    }
    #weibo:hover {
      color:#84b7ff;
    }
  </style>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  
</head>
 <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--class="navbar-brand"-->
              <%= link_to image_tag('http://farm3.staticflickr.com/2843/12044736805_45651684ef_o.jpg'), root_path %>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <!-- <li class="active"> -->
                <li><%= link_to I18n.t('helpers.navbar.home'), root_path %></li>
                <li><%= link_to I18n.t('helpers.navbar.collection'), collection_index_path %></li>
                <li><%= link_to I18n.t('helpers.navbar.about_us'), about_path %></li>
                <li><%= link_to I18n.t('helpers.navbar.contact'), contact_path %></li>
                 <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Collection<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Baby Boy</a></li>
                    <li><a href="#">Baby Girl</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Kiddie Boy</a></li>
                    <li><a href="#">Mini Girl</a></li>
                  </ul>
                </li> -->
                <% if current_user %>
                <li><%= link_to I18n.t('helpers.navbar.sign_out'), destroy_user_session_path, method: :delete %></li>
                <% else %>
                <li><%= link_to I18n.t('helpers.navbar.sign_in'), new_user_session_path %></li>
                <li><%= link_to I18n.t('helpers.navbar.sign_in_with'), user_omniauth_authorize_path(:facebook) %></li>
                <% end %>
                <li><ul class="nav navbar-nav pull-right">
                    <li><%= link_to "English", root_path(locale: "en") %></li>
                    <li><%= link_to "中文版", root_path(locale: "zh-CN") %></li>
                    </ul>
                </li>
                <li id="cart"><%= link_to '<i class="fa fa-shopping-cart"></i>'.html_safe , shopping_cart_items_path %></li>
              </ul>
            </div>
  
          </div>
        </div>

      </div>
    </div>


    <div class="container">
      <%= yield %>
    </div>


      <!-- FOOTER -->
       <footer>
        <%= form_for :subscription, url: subscriptions_path do |f| %>
        <%= f.text_field :email, placeholder: I18n.t('helpers.placeholder.sub'), id: "subscription_list" %>
        <%= f.submit I18n.t('helpers.placeholder.submit'), id: "subscription_button" %>
        <% end %>
        <!-- <input style="border: 0;border-radius: 3px;padding: 8px;font-size: 16px;" type="email", placeholder="<%= I18n.t('helpers.placeholder.sub') %>" >
        <input style="border: 0;border-radius: 3px;padding: 8px;font-size: 16px;background: red;color: white;" type="submit"> -->
        <br/>
        <br/>
        <br/>
        <p id="social_media"><i class="fa fa-facebook-square" id="fb"></i>  <i class="fa fa-twitter" id="twitter"></i>  <i class="fa fa-pinterest-square" id="pin"></i>  <i class="fa fa-google-plus-square" id="gplus"></i>  <i class="fa fa-tumblr-square" id="tumblr"></i>  <i class="fa fa-weibo" id="weibo"></i></p>
        <br/>
        <p id="footer">&copy; 2014 Pixie Unlimited. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
    <!--<script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../docs-assets/js/holder.js"></script>-->

  </body>
</html>
